# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
/*
!.gitignore
!/wp-content/

# Ignore all files and directories inside wp-content except the 'themes' directory
/wp-content/*
!/wp-content/themes/

# Ignore all files and directories inside wp-content/themes except the 'kouider' theme
/wp-content/themes/*
!/wp-content/themes/joula/
!/myaccount/
!/dashboard/
