.my-account {
    margin: 100px 0;
    @media (max-width: 767px) {
        margin: 50px 0;
    }
    h2 {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 1.75px;
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 20px;
        }
    }

    .MD-user-login {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
            // row-gap: 20px;
        }

        .MD-form {
            width: 50%;
            padding: 100px 100px 30px;
            position: relative;
            @media (max-width: 1100px) {
                padding: 50px 50px 30px;
            }
            @media (max-width: 767px) {
                padding: 30px 20px 30px;
                width: 100%;
            }
        }
        .login-form {
            border: 1px solid $border-color;
            border-radius: $border-radius;

            .success-message,
            .error-message {
                margin: 30px 0 0;
            }
            form {
                margin-top: 30px;

                .forgot-password-link {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #777777;
                    display: block;
                    transition: all 0.3s ease;
                    margin-top: 30px;
                    &:hover {
                        transition: all 0.3s ease;
                        text-decoration-line: underline;
                    }
                }
            }
        }
        .sign-up-form {
            background-color: $background-color;
            .new-client-label {
                position: absolute;
                top: -12px;
                #{$start}: 0;
                #{$end}: 0;
                margin: auto;
                width: fit-content;
                display: block;
                background: #b5b1e3;
                font-weight: 600;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                color: #ffffff;
                padding: 2px 23px;
            }
            .icons {
                padding: 40px 0 16px;
                ul {
                    display: flex;
                    justify-content: center;
                    column-gap: 11px;
                    li {
                        background: #ebe9e9;
                        border-radius: 117.949px;
                        padding: 12px 12.5px;
                        display: flex;
                    }
                }
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                color: #202020;
                @media (max-width: 767px) {
                    font-size: 12px;
                }
            }
            .MD-btn {
                margin-top: 25px;
            }
            .bottom {
                border-top: 1px solid #d9d9d9;
                margin: 100px -60px 0;
                padding-top: 30px;
                @media (max-width: 1100px) {
                    margin: 50px 0 0;
                }
                .box {
                    display: flex;
                    margin: 0 70px 0;
                    align-items: center;
                    @media (max-width: 1100px) {
                        margin: 0;
                    }
                    .image {
                        width: 42px;
                        @media (max-width: 767px) {
                            width: 32px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 22px;
                        text-align: #{$start};
                        color: #848484;
                        padding-#{$start}: 22px;
                        @media (max-width: 767px) {
                            font-size: 10px;
                            line-height: 17px;
                        }
                    }
                    & ~ .box {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .MD-user-signup {
        .form-content {
            width: 474px;
            margin: 0 auto;
            padding: 50px;
            border: 1px solid $border-color;
            margin-top: 20px;
            @media (max-width: 767px) {
                width: 100%;
                padding: 20px;
            }
        }
        p.link {
            margin-top: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #777777;
            @media (max-width: 767px) {
                margin-top: 20px;
                font-weight: 400;
                font-size: 14px;
            }
            a {
                font-weight: bold;
                transition: all 0.3s ease;
                color: black;
                &:hover {
                    text-decoration: underline;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

body.MD-my-account {
    .footer_baner {
        display: none !important;
    }
}
