.page_cart {
    .cart {
        padding: 70px 0 100px;
        @media screen and (max-width: 479px) {
            padding: 30px 0 50px;
        }
        .grid {
            max-width: 1170px;
        }
        .sectio_title_cart {
            position: relative;
            display: flex;
            align-items: center;
            h2 {
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 1.75px;
                color: #121212;
                padding-#{$start}: 18px;
                @media screen and (max-width: 999px) {
                    font-size: 16px;
                    padding-top: 0;
                }
            }
            .section_icon_cart {
                position: relative;
                #cart_total_count {
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                    background: black;
                    color: white;
                    position: absolute;
                    right: -10px;
                    bottom: 0px;
                    width: 22px;
                    height: 22px;
                    border-radius: 50px;
                    padding: 3px;
                }
                img {
                    max-width: 32px;
                }
            }
        }
        .section_cart {
            .table-title {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                @media (max-width: 479px) {
                    display: none;
                }
                p {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #6c757d;
                    width: calc(100% / 3);
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
            }
            .cart_list {
                padding-top: 30px;

                .single_item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border-top: 1px solid #d6d4ee;
                    padding: 20px 0;
                    position: relative;
                    @media screen and (max-width: 479px) {
                        flex-direction: column;
                        align-items: initial;
                    }
                    &:first-child {
                        border-top: 0;
                        padding: 0;
                        padding-bottom: 15px;
                    }
                    &:last-child {
                        border-bottom: 1px solid #d6d4ee;
                    }
                    .sec_item {
                        display: flex;
                        width: calc(100% - 50%);
                        @media screen and (max-width: 479px) {
                            width: 100% !important;
                        }
                        .img {
                            img {
                                border-radius: 2px;
                                height: 125px;
                                width: 100px;
                            }
                        }
                        .info {
                            // display: flex;
                            // justify-content: space-between;
                            // align-items: center;
                            padding-#{$start}: 15px;
                            // width: calc(100% - 10%);

                            .text {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                justify-content: space-between;
                                @media screen and (max-width: 479px) {
                                    width: 100%;
                                }
                                h4 {
                                    color: #121212;
                                    font-size: 14px;

                                    font-weight: 700;
                                    letter-spacing: 1px;
                                    line-height: 20px;
                                }
                                ul {
                                    // display: flex;
                                    padding: 10px 0;
                                    li {
                                        color: #6c707d;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 14px;
                                        padding-bottom: 8px;
                                        display: flex;
                                        align-items: center;
                                        column-gap: 3px;
                                        span {
                                            display: inline-block;
                                            width: 13px;
                                            height: 13px;
                                            border-radius: 50%;
                                            border-color: gray;
                                            border-width: 1px;
                                            border-style: solid;
                                        }
                                        & ~ li {
                                            margin-top: 7px;
                                        }
                                    }
                                }
                                .price {
                                    text-align: left;
                                    p {
                                        font-family: "Lato";
                                        font-weight: 700;
                                        font-size: 13px;
                                        line-height: 16px;
                                        letter-spacing: 0.5px;
                                        color: #000000;
                                        direction: rtl;
                                        // @media screen and (max-width: 479px) {
                                        //     display: none;
                                        // }
                                        &.sale_price {
                                            font-weight: 400;
                                            font-size: 12px;
                                            line-height: 14px;
                                            letter-spacing: -0.015em;
                                            text-decoration-line: line-through;
                                            color: #777777;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .section_count {
                        display: flex;
                        align-items: center;
                        // border: 1px solid #6c757d;
                        position: relative;
                        justify-content: center;
                        @media screen and (max-width: 770px) {
                            padding-top: 20px;
                        }
                        @media screen and (max-width: 479px) {
                            justify-content: right;
                            margin-bottom: 5px;
                        }
                        select {
                            width: 70px;
                            padding: 6px 15px;
                            color: #6c757d;
                            height: 30px;
                        }
                        .qib-container {
                            display: flex;
                            align-items: center;
                            .qib-button {
                                color: #6c757d;
                                font-size: 20px;
                                font-weight: 200;
                            }
                            input {
                                font-weight: 600;
                                font-size: 15.6px;
                                line-height: 10px;
                                color: #000000;
                                text-align: center;
                                margin: 0 10px;
                            }
                        }
                    }

                    .last {
                        text-align: right;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .total_price {
                            font-family: "Lato";
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: 0.5px;
                            color: #000000;
                            direction: rtl;
                            @media screen and (max-width: 479px) {
                                text-align: left;
                            }
                        }
                        .remove_page_cart {
                            position: absolute;
                            bottom: 10px;
                            right: 0;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0.5px;
                            color: #adb5bd;

                            @media screen and (max-width: 479px) {
                                font-size: 11px;
                            }
                        }
                    }
                    .size {
                        width: calc(100% / 3);
                        @media (max-width: 479px) {
                            width: 100%;
                        }
                    }
                }
            }

            .cart_action {
                display: flex;
                justify-content: space-between;
                padding-top: 25px;
                align-items: start;
                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }
                .left {
                    margin-top: 30px;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                    .cart_total-item-coupon {
                        margin-right: 20px;
                        display: inline-flex;
                        flex-direction: row;
                        align-items: flex-end;
                        width: 100%;
                        @media (max-width: 1025px) {
                            flex-direction: column-reverse;
                            align-items: flex-start;
                        }
                        @media screen and (max-width: 767px) {
                            margin-right: 0;
                        }
                    }
                    .open-coupon {
                        // display: inline-block;
                        color: #6c757d;
                        font-size: 15px;
                        font-weight: 700;
                        cursor: pointer;
                        text-align: left;
                        &:hover {
                            text-decoration: underline;
                        }
                        &.active {
                            opacity: 0;
                        }
                    }
                    .close-coupon {
                        position: absolute;
                        top: -20px;
                        right: 0;
                        z-index: 1;
                        border: none;
                        i {
                            font-size: 14px;
                        }
                    }
                    .discount-form {
                        display: none !important;
                        width: 400px;
                        position: relative;
                        margin: 0 15px 0 0;
                        @media screen and (max-width: 767px) {
                            margin-bottom: 20px;
                            width: 100%;
                        }
                        &.active {
                            display: block !important;
                        }
                        .coupon {
                            position: relative;
                            display: flex;
                            // @media screen and (max-width: 479px) {
                            //     flex-direction: column;
                            // }
                            label {
                                position: absolute;
                                top: -19px;
                                font-size: 13px;
                                font-weight: 500;
                                color: #6c757d;
                            }
                            input {
                                width: 200px;
                                padding: 0px 10px;
                                height: 46px;
                                border: 1px solid black;
                                font-size: 14px;
                                color: #000;
                                @media screen and (max-width: 767px) {
                                    width: 100%;
                                }
                                // @media screen and (max-width: 479px) {
                                //     height: 40px;
                                // }

                                &::placeholder {
                                    opacity: 0;
                                }
                            }
                            .btn {
                                width: 165px;
                                font-size: 14px;
                                padding: 0 25px;
                                background: white;
                                color: black;
                                border-left: none !important;
                                border: 1px solid;
                                line-height: 34px;
                                font-weight: 600;
                                @include transition(all, 0.3s, ease-in-out);
                                &:hover {
                                    background: black;
                                    color: white !important;
                                    border: 1px solid black !important;
                                }
                                @media screen and (max-width: 767px) {
                                    width: 100%;
                                }
                                // @media screen and (max-width: 479px) {
                                //     margin: 10px 0 0 0;
                                //     font-size: 15px;
                                //     line-height: 41px;
                                // }
                            }
                        }
                        .message {
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 14px;
                            background-repeat: no-repeat;
                            padding-#{$start}: 18px;
                            background-size: 16px;
                            background-position: $start center;
                            margin-top: 20px;
                            display: none;

                            &.active {
                                display: block;
                            }
                            &.success {
                                color: #32a94c;
                                background-image: url(../img/new_icons/check-posi.png);
                            }
                            &.error {
                                color: red;
                                background-image: url(../img/new_icons/check-nega.png);
                            }
                        }
                    }
                }
                .right {
                    .total_price {
                        padding-bottom: 18px;
                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: right;
                            letter-spacing: 0.5px;
                            color: #121212;
                        }
                        .sec_price {
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            padding-top: 10px;
                            .cart_total {
                                font-family: "Lato";
                                font-weight: 800;
                                font-size: 24px;
                                text-align: right;
                                letter-spacing: 0.928571px;
                                text-transform: uppercase;
                                color: #121212;
                                direction: rtl;
                                &.discount {
                                    font-size: 12px;
                                    text-decoration: line-through;
                                    font-weight: 300;
                                    padding-#{$start}: 10px;
                                }
                            }
                        }
                    }
                    a {
                        width: 350px;
                        display: block;
                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }
                        button {
                            background: black;
                            border-radius: 2px;
                            width: 100%;
                            padding: 15px 0;
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            font-weight: 800;
                            transition: all 0.3s ease;
                        }
                        &:hover {
                            button {
                                background: rgba(0, 0, 0, 0.6901960784);
                            }
                        }
                    }
                }
            }
        }
    }
    .related {
        padding: 40px 0;
        .grid {
            max-width: 1170px;
        }
    }
}
