.thanks_page {
    margin-bottom: 50px;
    .left {
        width: 600px;
        display: inline-block;
        padding-right: 30px;
        @media screen and (max-width: 999px) {
            width: 100%;
            padding-right: 0;
        }
        .title {
            font-weight: 400;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 1.75px;
            color: #121212;
        }
        .subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.5px;
            color: #121212;
            padding-top: 10px;
        }
        .desc {
            color: #231f20;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 24px;
            max-width: 500px;
        }
        .track_order {
            width: 190px;
            display: block;
            color: black;
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            padding: 15px 0;
            margin-top: 15px;
            transition: all 0.3s ease;
            border: 1.5px solid #000000;
            &:hover {
                background: black;
                color: rgb(255, 255, 255);
            }
        }
        .woocommerce-customer-details {
            width: 100%;
            margin-top: 20px;
            background: #f3eee3;
            padding: 55px;
            h4 {
                padding-bottom: 15px;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.444444px;
                color: #121212;
            }
            .row {
                padding-bottom: 10px;
                display: inline-block;
                & ~ .row {
                    margin-left: 20px;
                }
                &.full {
                    display: block !important;
                    margin: 0 !important;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                label {
                    color: #6c757d;
                    font-size: 12px;
                    line-height: 22px;
                    font-weight: 400;
                }
                p {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    font-family: "Lato";
                    span {
                        display: block;
                    }
                }
                &.payment {
                    p {
                        background-image: url(../img/icons8-mastercard.png);
                        background-size: 26px;
                        background-repeat: no-repeat;
                        padding-left: 31px;
                        background-position: left top 3px;
                    }
                }
                &.more {
                    display: flex;
                    align-items: center;
                    .single_row {
                        padding-#{$start}: 15px;
                        &:last-child {
                            padding-#{$start}: 0;
                        }
                    }
                }
            }
            .first {
                padding: 20px 0;
                &:first-child {
                    padding-top: 0;
                }
                & ~ .first {
                    border-top: 1px solid #ffe0be;
                }
            }
            .note {
                padding-top: 40px;
                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 24px;
                    color: #231f20;
                    a {
                        font-family: "Lato";
                    }
                }
            }
        }
        .thanks_grid {
            background: #f3eee3;
            padding: 35px;
            margin: 20px 0;
            @media screen and (max-width: 479px) {
                padding: 20px 30px;
            }
            .section_congratulations {
                .top {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #e6d4d0;
                    padding-bottom: 20px;
                    @media screen and (max-width: 479px) {
                        flex-direction: column-reverse;
                        align-items: flex-start;
                    }
                    .text {
                        width: calc(100% - 100px);
                        @media screen and (max-width: 479px) {
                            width: 100%;
                        }
                        h3 {
                            color: rgb(202, 67, 35);
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 0.45px;
                            @media screen and (max-width: 479px) {
                                font-size: 14px;
                                padding-top: 6px;
                            }
                        }
                        p {
                            color: rgb(35, 31, 32);
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 20px;
                            padding-top: 15px;
                            @media screen and (max-width: 479px) {
                                font-size: 11px;
                                line-height: 18px;
                                padding-top: 8px;
                            }
                        }
                    }
                    .icon {
                        width: 100px;
                        @media screen and (max-width: 479px) {
                            width: 60px;
                        }
                    }
                }
                .bottom {
                    padding-top: 23px;
                    p {
                        color: rgb(101, 101, 101);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        padding-bottom: 20px;
                    }
                    form {
                        .form {
                            display: flex;
                            input {
                                height: 50px;
                                background: rgb(255, 255, 255);
                                border: 1px solid #d6d4ee;
                                border-radius: 0px;
                                padding: 0 15px;
                                width: calc(100% - 180px);
                                @media screen and (max-width: 479px) {
                                    height: 40px;
                                    font-size: 10px;
                                }
                            }
                            .button_form {
                                width: 180px;
                                background: #c89a6d;
                                font-size: 14px;
                                font-family: "Arial";
                                font-weight: normal;
                                text-transform: uppercase;
                                letter-spacing: 0.44px;
                                line-height: 44px;
                                text-align: center;
                                color: white;
                                display: block;
                                margin-left: 15px;
                                transition: all 0.3s ease;
                                &:hover {
                                    background: #ba8b5d;
                                }
                                @media screen and (max-width: 479px) {
                                    width: 100px;
                                    font-size: 12px;
                                    line-height: 40px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
                .bottom_login {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media screen and (max-width: 400px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: capitalize;
                        @media screen and (max-width: 770px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 400px) {
                            padding-bottom: 15px;
                        }
                    }
                    .checkout-login {
                        width: 150px;
                        font-size: 14px;
                        font-family: "Arial";
                        font-weight: normal;
                        text-transform: uppercase;
                        letter-spacing: 0.44px;
                        background: #c89a6d;
                        font-weight: 500;
                        text-align: center;
                        color: white;
                        padding: 13px 0;
                        transition: all 0.3s ease;
                        &:hover {
                            background: #ba8b5d;
                        }
                        @media screen and (max-width: 770px) {
                            width: 120px;
                            font-size: 12px;
                            padding: 10px 0;
                        }
                    }
                }
            }
            .section_gift {
                .top {
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 479px) {
                        flex-direction: column-reverse;
                        align-items: flex-start;
                    }
                    .text {
                        width: calc(100% - 100px);
                        padding-right: 50px;
                        @media screen and (max-width: 479px) {
                            width: 100%;
                            padding-right: 0;
                        }
                        h3 {
                            color: rgb(18, 18, 18);
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 0.45px;
                            @media screen and (max-width: 479px) {
                                font-size: 14px;
                                padding-top: 6px;
                            }
                        }
                        p {
                            color: rgb(101, 101, 101);
                            font-size: 12px;
                            font-weight: 500;
                            padding: 8px 0 20px;
                            @media screen and (max-width: 479px) {
                                font-size: 11px;
                                line-height: 18px;
                                padding-top: 8px;
                            }
                        }
                        form {
                            .form {
                                display: flex;
                                input {
                                    height: 50px;
                                    font-size: 14px;
                                    background: rgb(255, 255, 255);
                                    border: 1px solid rgb(108, 117, 125);
                                    width: calc(100% - 120px);
                                    padding: 0 15px;
                                    background-image: url(../img/icons/calendar.png);
                                    background-repeat: no-repeat;
                                    background-size: 18px;
                                    background-position: calc(100% - 10px);
                                    @media screen and (max-width: 479px) {
                                        height: 40px;
                                        font-size: 10px;
                                        background-size: 12px;
                                        line-height: 40px;
                                    }
                                }
                                input[type="date"]::-webkit-inner-spin-button,
                                input[type="date"]::-webkit-calendar-picker-indicator {
                                    // display: none;
                                    // -webkit-appearance: none;
                                    opacity: 0;
                                    width: 100%;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                }
                                .button_form {
                                    width: 120px;
                                    background: rgb(18, 18, 18);
                                    font-size: 16px;
                                    line-height: 44px;
                                    text-align: center;
                                    color: white;
                                    display: block;
                                    margin-left: 15px;
                                    @media screen and (max-width: 479px) {
                                        width: 100px;
                                        font-size: 12px;
                                        line-height: 40px;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .icon {
                        width: 100px;
                        @media screen and (max-width: 479px) {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
    .order_review-content {
        width: calc(100% - 610px);
        background: #ffffff;
        border: 1px solid #d6d4ee;
        padding: 20px;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 999px) {
            width: 100%;
        }
        #order_review_thanks {
            .order-title {
                padding-bottom: 15px;
                border-bottom: 1px solid #d6d4ee;
                // display: flex;
                // justify-content: space-between;
                h3 {
                    color: rgba(50, 169, 76, 1);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    text-transform: uppercase;
                    span {
                        font-family: "Lato";
                    }
                }
                a {
                    display: block;
                    color: rgba(50, 169, 76, 1);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 27px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 24px;
                    color: #231f20;
                }
            }
            .shop_table {
                padding: 0;
                border: none;
                text-align: #{$end};
                margin: 0;
                position: relative;
                tbody {
                    display: table-caption;
                    padding: 25px 0 0;
                    margin-bottom: 20px;
                }
                tfoot {
                    border-top: 1px solid #d6d4ee;
                    display: flex;
                    justify-content: space-between;
                    tr.cart-subtotal {
                        th,
                        td {
                            padding-top: 12px !important;
                        }
                    }
                    tr.cart-shipping {
                        th,
                        td {
                            padding-bottom: 10px;
                        }
                    }
                    tr.order-total {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding-top: 20px;
                        // position: absolute;
                        // bottom: -48px;
                        th,
                        td {
                            // border-top: 1px solid #e4e4e4;
                            font-weight: 700;
                            font-size: 18px;
                            vertical-align: top;
                            background-color: transparent;
                            padding-top: 12px;
                            color: #121212;
                        }
                        th {
                            font-size: 14px !important;
                            font-weight: normal;
                            // text-transform: uppercase;
                        }
                    }
                    th {
                        text-align: left;
                        border: none;
                        font-size: 12px;
                        font-weight: 600;
                        color: #6c707d;
                        padding: 6px 0 !important;
                        background-color: transparent;
                        vertical-align: middle;
                    }
                    td {
                        border: none;
                        text-align: right;
                        font-size: 12px;
                        padding: 6px 0 !important;
                        color: #121212;
                        font-weight: 500;
                        font-family: 'Lato';
                        .woocommerce-Price-amount.amount {
                            color: #000 !important;
                        }
                        .includes_tax {
                            display: none;
                        }
                    }
                }
                // tr.cart_item {
                //     display: block;
                //     width: 100%;
                //     // height: 370px;
                //     min-height: 300px;
                //     overflow: scroll;
                //     @media screen and (max-width: 999px) {
                //         min-height: 100%;
                //     }
                //     &::-webkit-scrollbar {
                //         display: none;
                //     }
                //     td {
                //         width: 100%;
                //         display: block;
                //         padding: 0 0 15px;
                //         border-top: 1px solid #e3e3e3;
                //     }
                //     &:first-child {
                //         td {
                //             border-top: 0;
                //         }
                //     }
                //     td {
                //         width: 100%;
                //         border: none;
                //         line-height: normal;
                //         background-color: transparent;
                //     }
                // }
                // .product-thumb-name {
                //     display: flex;
                //     padding: 0;
                //     font-size: 0;
                //     align-items: flex-start;
                //     img {
                //         display: block;
                //         width: 70px;
                //         float: none;
                //         margin: 0;
                //         height: auto;
                //     }
                //     .product-name-container {
                //         display: flex;
                //         flex-wrap: wrap;
                //         justify-content: space-between;
                //         width: calc(100% - 70px);
                //         padding-#{$end}: 10px;
                //         position: relative;
                //         .right {
                //             width: 60%;
                //             .product-title {
                //                 margin-bottom: 0;
                //                 font-weight: 400;
                //                 font-size: 14px;
                //                 line-height: 18px;
                //                 color: #000000;
                //             }
                //             .variation {
                //                 padding: 0;
                //                 border: none;
                //                 margin-top: 4px;
                //                 display: inline-block;
                //                 vertical-align: middle;
                //                 dt,
                //                 dd {
                //                     font-weight: 400;
                //                     font-size: 10px;
                //                     color: #4f4f4f;
                //                     padding: 0;
                //                     display: inline-block;
                //                     float: none;
                //                     margin: 0;
                //                     line-height: 12px;
                //                     // color: $Gray;
                //                     p {
                //                         font-size: inherit;
                //                     }
                //                 }
                //                 dt ~ dt {
                //                     margin-#{$end}: 4px;
                //                     border-#{$end}: 1px solid;
                //                     padding-#{$end}: 8px;
                //                 }
                //                 dd {
                //                     padding-#{$end}: 3px;
                //                 }
                //             }
                //         }
                //         .left {
                //             width: calc(100% - 60%);
                //             text-align: right;
                //             .woocommerce-Price-amount.amount {
                //                 color: black;
                //                 font-size: 14px;
                //                 font-weight: bold;
                //             }
                //         }
                //         .product-quantity {
                //             width: 100%;
                //             font-size: 10px;
                //             display: inline-block;
                //             vertical-align: middle;
                //             line-height: 10px;
                //             margin-top: 4px;
                //         }
                //     }
                // }
                tr.cart_item {
                    display: block;
                    width: 100%;
                    td {
                        width: 100%;
                        display: block;
                        padding: 0 0 15px;
                        border-top: 1px solid #b5b1e3;
                    }
                    &:first-child {
                        td {
                            border-top: 0;
                        }
                    }
                    // &:last-child{
                    //     td{
                    //         padding: 15px 0 0 !important;
                    //     }
                    // }
                    // &~ .cart_item {
                    //     td {
                    //         padding: 15px 0;
                    //         border-top: 1px solid #e3e3e3;
                    //     }
                    // }

                    td {
                        width: 100%;
                        // padding: 0;
                        border: none;
                        line-height: normal;
                        background-color: transparent;
                    }
                    & ~ .cart_item {
                        border-top: 1px solid $border-color;
                        padding-top: 20px;
                    }
                }
                .product-thumb-name {
                    display: flex;
                    padding: 0;
                    font-size: 0;
                    align-items: flex-start;
                    img {
                        display: block;
                        width: 100px;
                        float: none;
                        margin: 0;
                        height: auto;
                    }
                    .product-name-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        width: calc(100% - 70px);
                        padding-#{$start}: 10px;
                        position: relative;
                        // text-align: right;
                        .right {
                            width: 100%;
                            text-align: $start;
                            .product-title {
                                margin-bottom: 0;
                                text-decoration: none;
                                font-size: 12px;
                                color: #000;
                                font-weight: 600;
                                line-height: 20px;
                            }
                            .variations {
                                padding-top: 7px;
                                li {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 14px;
                                    color: #6c757d;
                                    display: flex;
                                    align-items: center;
                                    column-gap: 3px;

                                    span {
                                        display: inline-block;
                                        border-radius: 50%;
                                        width: 14px;
                                        height: 14px;
                                    }
                                    & ~ li {
                                        margin-top: 8px;
                                    }
                                }
                            }
                            .quantity {
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 18px;
                                color: #6c757d;
                                padding-top: 18px;
                            }
                            .prices {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                p {
                                    font-weight: 700;
                                        font-size: 13px;
                                        line-height: 16px;
                                        letter-spacing: 0.5px;
                                        color: #000000;
                                        font-family: "Lato";
                                        display: inline-block;
                                        bdi {
                                        }
                                    span {
                                        font-weight: 700;
                                        font-size: 13px;
                                        line-height: 16px;
                                        letter-spacing: 0.5px;
                                        color: #000000;
                                        font-family: "Lato";
                                        display: inline-block;
                                        bdi {
                                        }
                                    }
                                    &.sale {
                                                font-weight: 400;
                                                font-size: 12px;
                                                line-height: 14px;
                                                letter-spacing: -0.015em;
                                                text-decoration-line: line-through;
                                                color: #777777;
                                                width: 100%;
                                    }
                                }
                            }
                            // .variation {
                            //     padding: 0;
                            //     border: none;
                            //     margin-top: 4px;
                            //     display: inline-block;
                            //     vertical-align: middle;
                            //     dt,
                            //     dd {
                            //         font-weight: 400;
                            //         font-size: 10px;
                            //         color: #4f4f4f;
                            //         padding: 0;
                            //         display: inline-block;
                            //         float: none;
                            //         margin: 0;
                            //         line-height: 12px;
                            //         // color: $Gray;
                            //         p {
                            //             font-size: inherit;
                            //         }
                            //     }
                            //     dt ~ dt {
                            //         margin-#{$end}: 4px;
                            //         border-#{$end}: 1px solid;
                            //         padding-#{$end}: 8px;
                            //     }
                            //     dd {
                            //         padding-#{$end}: 3px;
                            //     }
                            // }
                        }
                        .left {
                            display: none;
                        }
                        // .product-quantity {
                        //     width: 100%;
                        //     font-size: 10px;
                        //     display: inline-block;
                        //     vertical-align: middle;
                        //     line-height: 10px;
                        //     margin-top: 4px;
                        // }
                    }
                }
            }
        }
    }
}
