/* .column-product_type{width:100px !important;} */
.acf-fields.-left > .acf-field::before, .acf-fields.-left > .acf-field > .acf-label{width: 8% !important;}
.acf-fields.-left > .acf-field > .acf-input {width: 92% !important;}