.page_list {
  position: relative;
  .section_title {
    @media screen and (max-width: 770px) {
      padding: 20px;
      background: transparent;
      text-align: center;
    }
    .breadcramb {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      // margin: 0 -10px;
      // @media screen and (max-width: 770px) {
      //   justify-content: center;
      // }
      li {
        display: inline-block;
        position: relative;
        padding-#{$start}: 10px;
        padding-#{$end}: 10px;
        line-height: 20px;
        font-size: 14px;
        @media screen and (max-width: 479px) {
          font-size: 11px;
        }
        &::before {
          content: "/";
          position: absolute;
          font-family: "Material Icons";
          font-size: 14px;
          #{$end}: -2px;
          top: -3px;
          color: #9fa2aa;
          bottom: 0;
          display: inline-flex;
          align-items: center;
          font-weight: 900;
          font-size: 14px;
        }

        a {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.75px;
          color: #9fa2aa;
          @media screen and (max-width: 479px) {
            font-size: 11px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .border {
          color: #ae9e9d;
        }
        &:last-child {
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.75px;
          color: #d8d8d8;
          padding-#{$start}: 10px;
          padding-#{$end}: 0;
          // width: 100%;
          // text-align: center;
          // padding-top: 15px;
          // font-size: 28px;
          // @media screen and (max-width: 770px) {
          //   font-size: 22px;
          //  padding-top: 8px;
          // }
          &::before {
            display: none;
          }
        }
      }
    }
    h3 {
      font-weight: 200;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: 0.75px;
      color: #000000;
      margin-top: 30px;
      @media screen and (max-width: 770px) {
        font-size: 30px;
        line-height: 42px;
      }
    }
    p {
      color: black;
      font-size: 16px;
      font-weight: normal;
      line-height: 26px;
      font-family: "Helvetica";
      max-width: 800px;
      @media screen and (max-width: 770px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .section_subcategory_head {
    padding-top: 50px;
    display: none;
    @media screen and (max-width: 770px) {
      padding-top: 30px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 770px) {
        overflow-x: scroll;
        // white-space: nowrap;
        justify-content: flex-start;
        padding-bottom: 10px;
        &::-webkit-scrollbar {
          height: 2px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f2ede0;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $green;
          border-radius: 10px;
        }
      }
      li {
        a {
          display: block;
          padding: 0 20px;
          text-align: center;
          img {
            border-radius: 50%;
            @media screen and (max-width: 770px) {
              max-width: 70px;
            }
          }
          p {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.333333px;
            color: #000104;
            padding-top: 18px;
            letter-spacing: 1.5px;
            @media screen and (max-width: 770px) {
              font-size: 14px;
              line-height: 19px;
              padding-top: 5px;
              min-height: 60px;
            }
          }
          &:hover {
            p {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .list_content {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    @media screen and (max-width: 999px) {
      flex-direction: column;
    }
    @media screen and (max-width: 770px) {
      padding: 0px 0 20px;
    }
    .section_filter {
      width: 100%;
      // margin-#{$start}: 30px;
      flex-direction: row-reverse;
      justify-content: space-between;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .section_ranking {
        display: flex;
        height: fit-content;
        align-items: center;

        label {
          /* font-size: 16px; */
          text-transform: capitalize;
          /* font-weight: 600; */
          /* line-height: 20px; */
          /* padding-bottom: 5px; */
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #6c757d;
        }
        .select_arrow {
          position: relative;
          width: 100%;
          select {
            background-color: white;
            height: fit-content;
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.538462px;
            color: #6c757d;
          }
          // &::before {
          //     content: "expand_more";
          //     @include MaterialFamily;
          //     font-size: 16px;
          //     position: absolute;
          //     color: #878b8f;
          //     top: 10px;
          //     left: 10px;
          //     cursor: pointer;
          //     pointer-events: none;

          // }
        }
      }
      .list_filter {
        // border-top: 1px solid #c1c9d282;
        display: flex;
        .form-checkbox {
          border-bottom: 1px solid #ececec;
          // padding: 20px 0;
          &:last-child {
            border-bottom: 0;
          }
          .category_link {
            color: black;
            font-size: 16px;
            // font-family: 'Helvetica Neue';
            text-transform: capitalize;
            font-weight: 600;
            line-height: 62px;
            position: relative;
            display: flex;
            justify-content: space-between;
            // padding: 0 0 12px;
            cursor: pointer;
            &::after {
              content: "arrow_drop_down";
              @include MaterialFamily;
              font-size: 22px;
              font-weight: 400;
              @media screen and (max-width: 770px) {
                font-size: 16px;
              }
            }
          }
          .content_filter {
            // padding-bottom: 20px;
            display: flex;
            .form-checkbox-content {
              position: relative;
              &:last-child {
                label {
                  padding-bottom: 0;
                }
              }
              & ~ .form-checkbox-content {
                margin-left: 30px;
              }
              label {
                line-height: 16px;
                padding-left: 25px;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                color: #6c757d;
                padding-#{$end}: 25px;
                padding-bottom: 16px;
                cursor: pointer;
              }
              .checkbox-box {
                border: 1.5px solid #6c757d;
                border-radius: 2px;
                width: 24px;
                padding: 2px;
                margin: 0 0 0 8px;
                height: 0;
                cursor: pointer;
                &:not(:checked),
                &:checked {
                  position: absolute;
                  #{$start}: 0;
                  opacity: 1;
                  background: transparent;
                  z-index: 99999;
                  border: none;
                  width: 100%;
                  height: 30px;
                }
                // &:checked + label {
                //   text-decoration: underline;
                // }
                &:not(:checked) + label:before,
                &:checked + label:before {
                  content: "";
                  position: absolute;
                  #{$start}: 0;
                  top: 0;
                  width: 12px;
                  height: 12px;
                  border: 2px solid #6c757d;
                  background: #fff;
                  border-radius: 2px;
                  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
                  -webkit-transition: all 0.275s;
                  transition: all 0.275s;
                }
                &:checked + label:before {
                  content: "";
                  background: #6c757d;
                }
                &:not(:checked) + label:after,
                &:checked + label:after {
                  font-family: "Material Icons";
                  content: "checked";
                  position: absolute;
                  top: 8.11px;
                  #{$start}: 1.3px;
                  font-size: 13px;
                  font-weight: bold;
                  color: white;
                  line-height: 0;
                  -webkit-transition: all 0.2s;
                  transition: all 0.2s;
                  // body.ltr & {
                  // #{$start}: 2px;
                  // }
                }
                &:not(:checked) ~ label:after {
                  opacity: 0;
                }
                &:checked + label:after {
                  opacity: 1;
                }
                &:disabled:not(:checked) + label:before,
                &:disabled:checked + label:before {
                  box-shadow: none;
                  border-color: #bbb;
                  background-color: #e9e9e9;
                }
              }
              // &:hover {
              //   label {
              //     text-decoration: underline;
              //   }
              // }
            }
            .more-cats {
              .result {
                color: #b49e86;
                font-size: 14px;
                font-weight: 400;
                text-decoration: underline;
                line-height: 31px;
                cursor: pointer;
                &.less {
                  display: none;
                }
                &.active {
                  &.less {
                    display: block;
                    padding-top: 15px;
                  }
                  &.more {
                    display: none;
                  }
                }
              }
              .all_form_checkbox {
                display: none;
                &.active {
                  display:flex;
                }
              }
            }
          }
          &.active {
            .category_link {
              padding: 0;
              //   &::after{
              //     content: 'add';
              // }
            }
            .content_filter {
              padding-bottom: 0;
              display: none;
            }
          }
        }
      }
    }
    .section_filter_mobile {
      width: 100%;
      margin-#{$start}: 0;
      z-index: 9999;
      padding-bottom: 30px;
      &.sticky {
        transition: 0.3s;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9999;
        background: white;
        padding-bottom: 0;
        .nav_filter {
          padding: 30px 20px;
          // .cart {
          //   display: block;
          // }
        }
        .section_ranking {
          margin: -10px 0;
        }
      }
      .nav_filter {
        // display: flex;
        // justify-content: space-between;
        // margin: 0 -10px;
        // padding: 0 0 0 0;
        // align-items: center;
        .icon {
          display: flex;
          justify-content: space-between;
          .click {
            display: flex;
            position: relative;
            /* text-transform: uppercase; */
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.899167px;
            color: #6c757d;
            align-items: center;
            span {
              font-weight: 600;
              font-size: 14px;
              display: block;
              padding-right: 7px;
            }
            img {
              padding-right: 5px;
              width: 20px;
            }
            &.filter {
              padding-right: 30px;
            }
            &.sort {
              img {
                padding: 0 0 0 5px;
                width: 16px;
              }
            }
            // &.active {
            //   // border-bottom: 4px solid #5a7b65;
            //   padding-bottom: 15px;
            // }
          }
        }
        .cart {
          display: none;
          cursor: pointer;
          width: 33px;
          padding-right: 15px;
          a {
            display: block;
            .section_icon_cart {
              position: relative;
              #cart_total_count {
                font-size: 10px;
                font-weight: bold;
                text-align: center;
                background: black;
                color: white;
                position: absolute;
                right: -10px;
                top: 3px;
                width: 14px;
                height: 14px;
                border-radius: 50px;
                padding: 3px;
              }
            }
            .material-icons {
              font-size: 30px;
            }
          }
        }
      }
      .section_ranking {
        display: none;
        margin: 0 -15px;
        padding: 20px 10px;
        background: #FBF6E9;
        text-align: center;
        margin-top: 12px;
        label {
          color: black;
          font-size: 13px;
          font-weight: bold;
          line-height: 20px;
          padding-bottom: 15px;
          line-height: 23px;
        }
        .sec_sort {
          position: relative;
          width: 100%;
          .sorting {
            .sortby {
              padding-bottom: 15px;
              font-size: 13px;
              line-height: 15px;
              text-align: center;
              letter-spacing: 0.538462px;
              color: #6c757d;
              font-weight: 400;
              &:last-child {
                padding-bottom: 0;
              }
              &.active {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
